/** 
  Navbar, html, and body styles
*/
html, body {
  width:100%;
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}
nav {
    padding: 0.3em;
    background: #0b163a;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    gap: 1em;
}
nav a {
    text-decoration: none;
    color: #fcf400;
}

nav a:hover {
  color: #ff72ea;
}

nav h1 {
    font-size: 1.5em;
    font-weight: 600;
    color: #fdfcd9;
}

header{
    width:100%;
    height:4em; 
    position:fixed;
    margin: 0;
}

